.cta {
  text-align: center;

  padding: 6rem 2rem;

  background: var(--primary);

  color: white;
}

.cta h2 {
  font-size: 3rem;
}

.cta button {
  margin-top: 2rem;

  padding: 1rem 2rem;

  border: none;

  border-radius: 12px;

  cursor: pointer;
}