.hero {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 8rem 6%;

  background: #1a1a1a;
}

.content h1 {
  font-size: 3.5rem;
  color: white;
}

.content p {
  margin: 1.5rem 0;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  background: #e8590c;
  color: white;

  border: none;

  padding: 1rem 2rem;

  border-radius: 12px;
}

.secondary {
  background: transparent !important;
  border: 2px solid #e8590c !important;
}

.image img {
  width: 100%;
  border-radius: 20px;
}